<div class="main_content_area">
    <div class="content_title">
        Search About Companies
    </div>
    <div class="search_box" data-aos="fade-up">
        <input type="text" placeholder="Enter Company Name...">
    </div>
    <div class="content_box_area">

        <div class="content_box" data-aos="fade-up" routerLink="/company_content">
            <div class="img_area">
                <img src="assets/Tata_logo.png">
            </div>
            <div class="title_area">
                Tata Group
                <p>An Indian Company</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/company_content">
            <div class="img_area">
                <img src="assets/wipro.png">
            </div>
            <div class="title_area">
                Wipro
                <p>An Indian Company</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/company_content">
            <div class="img_area">
                <img src="assets/tata.jpg">
            </div>
            <div class="title_area">
                TCS
                <p>An Indian Company</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/company_content">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                HCL
                <p>An Indian Company</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/company_content">
            <div class="img_area">
                <img src="assets/microsoft.png">
            </div>
            <div class="title_area">
                Microsoft
                <p>An American Company</p>
            </div>
        </div>
        <div class="content_box" data-aos="fade-up" routerLink="/company_content">
            <div class="img_area">
                <img src="assets/reliance.png">
            </div>
            <div class="title_area">
                Reliance
                <p>An Indian Company</p>
            </div>
        </div>

    </div>
</div>