<header>
    <div id="logo_area">
        <img src="assets/infozonelgo.png" alt="">
    </div>
    <div id="menu_area">
        <ul>
            <li class="cool-link" routerLink="/homepage" routerLinkActive="active" (click)="onWindowScroll()">
                Home
            </li>
            <li class="cool-link" routerLink="/about" routerLinkActive="active" (click)="onWindowScroll()">
                About
            </li>
            <li class="cool-link" routerLink="/person" routerLinkActive="active" (click)="onWindowScroll()">
                Person
            </li>
            <li class="cool-link" routerLink="/country" routerLinkActive="active" (click)="onWindowScroll()">
                Countries
            </li>
            <li class="cool-link" routerLink="/company" routerLinkActive="active" (click)="onWindowScroll()">
                Companies
            </li>
            <li class="cool-link" routerLink="/college" routerLinkActive="active" (click)="onWindowScroll()">
                Colleges
            </li>
            <li class="cool-link" routerLink="/techs" routerLinkActive="active" (click)="onWindowScroll()">
                Techs
            </li>
            <li class="cool-link" routerLink="/space" routerLinkActive="active" (click)="onWindowScroll()">
                Space
            </li>
            <li class="cool-link" routerLink="/contact" routerLinkActive="active" (click)="onWindowScroll()">
                Contact
            </li>
        </ul>
    </div>
</header>