<div class="main_content_area">
    <div class="content_title">
        Search About Countries
    </div>
    <div class="search_box" data-aos = "fade-up">
        <input type="text" placeholder="Enter Country Name...">
    </div>
    <div class="content_box_area">

        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                INDIA
                <p>Highest growing country</p>
            </div>
        </div>

        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
               Russia
                <p>Developed Country</p>
            </div>
        </div>

        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                America
                <p>Developed Country</p>
            </div>
        </div>

        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                Izrail
                <p>Developed Country</p>
            </div>
        </div>

        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                Dubai
                <p>Developed Country</p>
            </div>
        </div>
        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                Saudi Arabia
                <p>Developed Country</p>
            </div>
        </div>
        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                South Africa
                <p>Developed Country</p>
            </div>
        </div>

        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                Iran
                <p>Developed Country</p>
            </div>
        </div>

        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                China
                <p>Developed Country</p>
            </div>
        </div>

        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                Japan
                <p>Developed Country</p>
            </div>
        </div>

        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
                Viatnam
                <p>Developed Country</p>
            </div>
        </div>
        <div class="content_box" data-aos = "fade-up" routerLink="/country_content">
            <div class="img_area">
                <img src="assets/india_map.jpg">
            </div>
            <div class="title_area">
               Australiya
                <p>Developed Country</p>
            </div>
        </div>

    </div>
</div>