<div class="main_content_area">
    <div class="content_title">
        Learn About Space
    </div>
    <div class="search_box" data-aos="fade-up">
        <input type="text" placeholder="Enter Things Name...">
    </div>
    <div class="content_box_area">

        <div class="content_box" data-aos="fade-up" routerLink="/space_content">
            <div class="img_area">
                <img src="assets/marsh.jpg">
            </div>
            <div class="title_area">
                Marsh Planet
                <p>Same as earth</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/space_content">
            <div class="img_area">
                <img src="assets/moon.jpg">
            </div>
            <div class="title_area">
                Moon
                <p>Just a Planet</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/space_content">
            <div class="img_area">
                <img src="assets/iss.webp">
            </div>
            <div class="title_area">
                Internation Space Station
                <p>Developed by America.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/space_content">
            <div class="img_area">
                <img src="assets/earth.jpg">
            </div>
            <div class="title_area">
                Earth Planet
                <p>Manager of INOS</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/space_content">
            <div class="img_area">
                <img src="assets/container_img.jpg">
            </div>
            <div class="title_area">
                Budh Planet
                <p>Fonder & CEO of INOS</p>
            </div>
        </div>
        <div class="content_box" data-aos="fade-up" routerLink="/space_content">
            <div class="img_area">
                <img src="assets/sky.jpg">
            </div>
            <div class="title_area">
                Sky wave
                <p>Illusion of god</p>
            </div>
        </div>

    </div>
</div>