<div class="main_content_area" data-aos="fade-down">
    <div class="left_section">
        <div class="content_img">
            <img src="assets/earth.jpg" alt="">
        </div>
        <div class="about_content_img">
            <h3>Since 200000yr.</h3>
            <h3>Best Working culture</h3>
            <h3>Ratan Tata</h3>
            <h3>Since 2014</h3>
        </div>
        
    </div>
    <div class="right_section">

        <div class="main_title">
            <h1>Earth is getting lose day by day due to human dusts and pollutin.</h1>
        </div>
        <div class="content_area">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequatur quas placeat sunt, molestias
            reiciendis repellat ut unde vero illum dignissimos. Esse modi tempora nobis temporibus porro tenetur et
            animi aliquam alias sapiente. Esse, quo! Corrupti laudantium suscipit ad ipsam odit quam veniam natus
            necessitatibus, eligendi cupiditate ipsa temporibus ullam. Id labore ex, fugiat, illum tempore, earum facere
            ea quisquam blanditiis eius exercitationem aliquam. Quis distinctio est doloremque asperiores perferendis,
            quos temporibus quas quam consequuntur odit accusantium sit soluta vero eaque modi, eum qui dolorem
            provident dolor? Necessitatibus ipsam similique tenetur. Est perspiciatis enim error eveniet earum ipsam
            harum sed?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequatur quas placeat sunt, molestias
            reiciendis repellat ut unde vero illum dignissimos. Esse modi tempora nobis temporibus porro tenetur et
            animi aliquam alias sapiente. Esse, quo! Corrupti laudantium suscipit ad ipsam odit quam veniam natus
            necessitatibus, eligendi cupiditate ipsa temporibus ullam. Id labore ex, fugiat, illum tempore, earum facere
            ea quisquam blanditiis eius exercitationem aliquam. Quis distinctio est doloremque asperiores perferendis,
            quos temporibus quas quam consequuntur odit accusantium sit soluta vero eaque modi, eum qui dolorem
            provident dolor? Necessitatibus ipsam similique tenetur. Est perspiciatis enim error eveniet earum ipsam
            harum sed?
        </div>
        

    </div>
</div>