<div id="contact_area">
    <div class="contact_img" data-aos = "fade-down">
        <img src="assets/contact_img.png" alt="">
    </div>
    <div class="contact_form" data-aos = "fade-down">
        <div class="form_title">
            Get In Touch
        </div>
        <div class="form_area">
            <form> 
                <mat-form-field appearance="outline">
                    <mat-label>Your Name</mat-label>
                    <input matInput placeholder="Enter Your Name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Your Email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="Enter Your Message..."></textarea>
                </mat-form-field>
            </form>
            <button mat-raised-button>Submit</button>
        </div>
    </div>
</div>