<div class="main_container">
    <div class="left_container">
        <h1 data-aos = "fade-down">Get all Information on Single Platform with <font color="#4686ce"
                style="border-bottom: 5px dotted #4686ce;">InfoZone.</font>
        </h1>
        <h3 data-aos = "fade-down">
            With InfoZone you can easily understand the thing that <br> what is going on and can
            read the informations.
        </h3>
        <a href="#titles">
            <button mat-button data-aos = "fade-down">Start Now</button>
        </a>
    </div>
    <div class="right_container" data-aos = "fade-down">
        <img src="assets/container_img.jpg" alt="">
    </div>
</div>

<div id="navigate_information">
    <div class="title" id="titles">Get Quick Links</div>
    <button mat-button class="info_boxes" routerLink="/person" data-aos = "fade-up">Search and Read About Persons.</button>
    <button mat-button class="info_boxes" routerLink="/country" data-aos = "fade-up">Search and Read About Country and it's Culture.</button>
    <button mat-button class="info_boxes" routerLink="/company" data-aos = "fade-up">Search and Read About Companies.</button>
    <button mat-button class="info_boxes" routerLink="/college" data-aos = "fade-up">Search and Read About University and College.</button>
    <button mat-button class="info_boxes" routerLink="/techs" data-aos = "fade-up">Searh About Innovative Technologies.</button>
    <button mat-button class="info_boxes" routerLink="/space" data-aos = "fade-up">Search and Read About Space.</button>
</div>