<div class="main_content_area">
    <div class="content_title">
        Search About Colleges
    </div>
    <div class="search_box" data-aos="fade-up">
        <input type="text" placeholder="Enter College Name...">
    </div>
    <div class="content_box_area">

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/rnclg.jpg">
            </div>
            <div class="title_area">
                R.N. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/snsclg.webp">
            </div>
            <div class="title_area">
                S.N.S. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                R.B.S. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                J.L. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/lnclg.jpg">
            </div>
            <div class="title_area">
                L.N. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>
        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/brabu.webp">
            </div>
            <div class="title_area">
                B.R.A.B.U. Muzaffarpur.
                <p>Muzaffarpur Bihar.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/rnclg.jpg">
            </div>
            <div class="title_area">
                R.N. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/snsclg.webp">
            </div>
            <div class="title_area">
                S.N.S. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                R.B.S. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                J.L. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>

        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/lnclg.jpg">
            </div>
            <div class="title_area">
                L.N. College.
                <p>Hajipur Bihar India.</p>
            </div>
        </div>
        <div class="content_box" data-aos="fade-up" routerLink="/university_content">
            <div class="img_area">
                <img src="assets/brabu.webp">
            </div>
            <div class="title_area">
                B.R.A.B.U. Muzaffarpur.
                <p>Muzaffarpur Bihar.</p>
            </div>
        </div>



    </div>
</div>