<div class="main_content_area">
    <div class="content_title">
        Search About Persons
    </div>
    <div class="search_box">
        <input type="text" placeholder="Enter Person Name...">
    </div>
    <div class="content_box_area">

        <div class="content_box">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                Ritesh Kumar
                <p>Fonder & CEO of INOS</p>
            </div>
        </div>

        <div class="content_box">
            <div class="img_area">
                <img src="assets/container_img.jpg">
            </div>
            <div class="title_area">
                Rohit Kumar
                <p>CEO of INOS</p>
            </div>
        </div>

        <div class="content_box">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                Ravi Kumar
                <p>CTO of INOS</p>
            </div>
        </div>

        <div class="content_box">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                Vishal Kumar
                <p>Manager of INOS</p>
            </div>
        </div>

        <div class="content_box">
            <div class="img_area">
                <img src="assets/container_img.jpg">
            </div>
            <div class="title_area">
                Ritesh Kumar
                <p>Fonder & CEO of INOS</p>
            </div>
        </div>
        <div class="content_box">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                Ritesh Kumar
                <p>Fonder & CEO of INOS</p>
            </div>
        </div>

    </div>
</div>