<div class="main_content_area">
    <div class="content_title">
        Search About Persons
    </div>
    <div class="search_box" data-aos="fade-up">
        <input type="text" placeholder="Enter Person Name...">
    </div>
    <div class="content_box_area">

        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                Ritesh Kumar
                <p>Fonder & CEO of INOS</p>
            </div>
        </div>

        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/modi.jpg">
            </div>
            <div class="title_area">
                Narendra Modi
                <p>Prime Minister of India.</p>
            </div>
        </div>

        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/ratantata.png">
            </div>
            <div class="title_area">
                Ratan Tata
                <p>Founder of Tata Group.</p>
            </div>
        </div>

        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/mukesh.webp">
            </div>
            <div class="title_area">
                Mukesh Ambani
                <p>Founder of Jio</p>
            </div>
        </div>

        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/adani.jpg">
            </div>
            <div class="title_area">
                Gautam Adani
                <p>Fonder of Adani Groups.</p>
            </div>
        </div>
        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/hitesh.jpg">
            </div>
            <div class="title_area">
                Hitesh Chaudhari
                <p>Founder of LCO.</p>
            </div>
        </div>
        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/riteshagarwal.jpg">
            </div>
            <div class="title_area">
                Ritesh Agarwal
                <p>Fonder & CEO of Boat.</p>
            </div>
        </div>
        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/hiranandani.png">
            </div>
            <div class="title_area">
                Hira nandani
                <p>Real estate businesman</p>
            </div>
        </div>
        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/bilgates.webp">
            </div>
            <div class="title_area">
                Bil Gates
                <p>Fonder of Microsoft.</p>
            </div>
        </div>
        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/sundarpichai.jpg">
            </div>
            <div class="title_area">
                Sundar Pichai
                <p>CEO of Google.</p>
            </div>
        </div>
        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/riteshkumar.jpg">
            </div>
            <div class="title_area">
                Harkirat Singh
                <p>Software engineer | Youtuber</p>
            </div>
        </div>
        <div class="content_box" routerLink="/person_content" data-aos="fade-up">
            <div class="img_area">
                <img src="assets/bilgates.webp">
            </div>
            <div class="title_area">
                Bil Gates
                <p>Fonder of Microsoft.</p>
            </div>
        </div>

    </div>
</div>